<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="content-type"
      content="text/html; charset=UTF-8"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,height=device-height,initial-scale=1,user-scalable=no"
    />
    <meta name="theme-color" content="#222222" />
    <meta
      name="url"
      content="<%= htmlWebpackPlugin.options.url %>"
    />
    <meta
      name="keywords"
      content="<%= htmlWebpackPlugin.options.keywords %>"
    />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      name="reply-to"
      content="<%= htmlWebpackPlugin.options.author %>"
    />
    <meta property="fb:app_id" content="494378911142584" />
    <meta property="og:site_name" content="FIAT TORO" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="FIAT TORO" />
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      property="og:url"
      content="<%= htmlWebpackPlugin.options.url %>"
    />
    <meta
      property="og:image"
      content="<%= htmlWebpackPlugin.options.url %>/og.jpg"
    />
    <meta property="og:image:width" content="1960" />
    <meta property="og:image:height" content="1026" />
    <meta property="og:image:alt" content="" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="toro.fiat.com.ar"
    />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity-fullscreen@1/fullscreen.css"
    />
    <script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>
    <script src="/vendors/analytics.js"></script>

    <title>FIAT TORO</title>
  </head>
  <body>
    <noscript
      >You need to enable JavaScript to run this app.</noscript
    >
    <div id="root"></div>
    <script src="//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js?_=1517839904676"></script>
  </body>
</html>
